extends layout

block splash

block side
    .header
        a(href="#")
            img.me(src=image)

        .nav_bar
            - for(i in pages)
                -if(!pages[i].noshow)
                    a.nav(href= "#" + pages[i].hash)= pages[i].name

block content

    //-.loader loading!

    - for(i in pages)
        .page.collapse(id=pages[i].hash)
            //- h2.page_name= pages[i].name
            .fill
