.hide
    script(type="template")#posts_tmp
        .section
            span.date.pull-right <%= date %> 
            h2.title <%= title %>
            span.dot.pull-right
            h4.subtitle <%= subtitle %>
            hr
            p.content <%= content %>

    script(type="template")#about_tmp

        .section
            .about_me  
                <% for(var i in about_me) { %> 
                p <%= about_me[i] %> 
                <% } %> 
        .section.row
            .col-md-6
                h4 Aspiration
                p.aspiration <%= aspiration %>
            .col-md-6
                h4 Interests
                ul.interests
                    <% for(var i in interests) { %> 
                    li  <%= interests[i] %> 
                    <% } %> 
                
        .section
            h4 Education
            .education
                <% for(var i in education) { %>
                .school

                    <% if(i!=0) { %> 
                    hr
                    <% } %>
                    .row
                        .col-md-6
                            h4.name <%= education[i].name %> 
                                span.location - <%= education[i].location  %> 
                            h5.major <%= education[i].major  %>
                            span.date <%= education[i].dates  %>
                        .col-md-6
                            <% for(var j in education[i].bullets) { %>
                            ul.bullets
                                li <%= education[i].bullets[j] %>
                            <% } %> 
                <% } %> 

        
    script(type="template")#projects_tmp
        .section
            span.date.pull-right <%= date %> 
            h2.title
                <% if(link != "") { %>
                a(href!="<%= link %>", target="_blank") <%= name %>
                <% } else { %>
                <%= name %>
                <% } %>
            span.dot.pull-right
            h4.subtitle <%= location %>
            p.content <%= info %>
            h4.subtitle <%= award + " " + position %>
            hr

    script(type="template")#work_tmp
        .section
            span.date.pull-right <%= date %>
            h2.title <%= company %>
            span.dot.pull-right
            h4.subtitle <%= position %>
            h5.subtitle <%= location %>
            p.content <%= info %>
                

    script(type="template")#art_tmp
        .otto art here